In [29]:
%%writefile task2_explode.hql

USE stackoverflow_;

DROP TABLE  IF EXISTS tags2009;

CREATE TABLE tags2009 AS 
SELECT t,COUNT(*) AS c1
FROM posts LATERAL VIEW EXPLODE(tags) posts AS t 
WHERE year  = 2009 AND post_type_id = 1
GROUP BY t
ORDER BY c1 DESC;

DROP TABLE IF EXISTS tags2016;

CREATE TABLE tags2016 AS
SELECT t,COUNT(*) AS c1
FROM posts LATERAL VIEW EXPLODE(tags) posts AS t
WHERE year  = 2016 AND post_type_id = 1
GROUP BY t
ORDER BY c1 DESC
LIMIT 10;

Overwriting task2_explode.hql

In [41]:
%%writefile task2_select2009.hql

USE stackoverflow_;

SELECT CONCAT_WS("\t",t2016.t,String(t2016.rank),String(t2009.rank),String(t2016.c1),String(t2009.c1)) 
FROM (SELECT *,RANK () OVER (ORDER BY c1 DESC) rank FROM 
      (
SELECT t,COUNT(*) AS c1
FROM posts LATERAL VIEW EXPLODE(tags) posts AS t
WHERE year  = 2016 AND post_type_id = 1
GROUP BY t
ORDER BY c1 DESC
LIMIT 10) t_2016) t2016
LEFT JOIN (SELECT *,RANK () OVER (ORDER BY c1 DESC) rank FROM 
           (
SELECT t,COUNT(*) AS c1
FROM posts LATERAL VIEW EXPLODE(tags) posts AS t 
WHERE year  = 2009 AND post_type_id = 1
GROUP BY t
ORDER BY c1 DESC)t_2009) t2009
ON t2016.t = t2009.t;

Overwriting task2_select2009.hql

## Step 5. Submission part. Do not touch!! And simple run all cells below!

Copy your notebook from the steps <a href="#Step-4.-Complete-the-assignment">Step 4</a> and <a href="#Step-5.-Submission-part.-Do-not-touch!!-And-simple-run-all-cells-below!">Step 5</a> to the new notebook. Run all the cells! And submit the copied notebook!

Take a look at your submission query!

In [42]:
#!cat task1_create_external_table.hql > task1.hql
#!cat task1_insert_table.hql >> task1.hql
#!cat task1_result.hql >> task1.hql

#!cat task2_explode.hql > task2.hql
!cat task2_select2009.hql > task2.hql

In [43]:
#!cat task1.hql

!cat task2.hql

USE stackoverflow_;

SELECT CONCAT_WS("\t",t2016.t,String(t2016.rank),String(t2009.rank),String(t2016.c1),String(t2009.c1))
FROM (SELECT *,RANK () OVER (ORDER BY c1 DESC) rank FROM
      (
SELECT t,COUNT(*) AS c1
FROM posts LATERAL VIEW EXPLODE(tags) posts AS t
WHERE year  = 2016 AND post_type_id = 1
GROUP BY t
ORDER BY c1 DESC
LIMIT 10) t_2016) t2016
LEFT JOIN (SELECT *,RANK () OVER (ORDER BY c1 DESC) rank FROM
           (
SELECT t,COUNT(*) AS c1
FROM posts LATERAL VIEW EXPLODE(tags) posts AS t
WHERE year  = 2009 AND post_type_id = 1
GROUP BY t
ORDER BY c1 DESC)t_2009) t2009
ON t2016.t = t2009.t;

In [44]:
%%javascript

$(document).ready(function() {
    console.log('Ready');
    
    
    function is_hive_command(list_tokens) {
        return list_tokens.indexOf('hive') > -1 && 
             list_tokens.indexOf('f') > -1 &&
             list_tokens.indexOf('-') > -1 && 
             list_tokens.indexOf('!') > -1 &&
             list_tokens.indexOf('hql') > -1 && 
             list_tokens.indexOf('writefile') == -1;
    } 
    
    function collectText(input_tag) {

        var result_string = [];
        $.each($(input_tag).children(), function(index, child) {
            result_string.push($(child).text());
        });
        return [result_string, is_hive_command(result_string)];
    };
    
    var filtered_results = $(".cell.code_cell.rendered").filter(function(index, element) {
        var out = collectText($(element).find('.CodeMirror-line').find('span'));
        console.log(out);
        return collectText($(element).find('.CodeMirror-line').find('span'))[1];
    });
    $(filtered_results).remove();
});

In [ ]:
%%bash
hive -f task2.hql

Congratulations! You have completed the assignment! Now you can submit it to the system and get your results!

Copy your notebook from the steps <a href="#Step-4.-Complete-the-assignment">Step 4</a> and <a href="#Step-5.-Submission-part.-Do-not-touch!!-And-simple-run-all-cells-below!">Step 5</a> to the new notebook. Run all the cells! And submit the copied notebook!